[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"

[dev-packages]
mypy = "*"
black = "==21.12b0"
isort = "*"
flake8 = "*"
coverage = "*"
pytest = "*"

[requires]
python_version = "3.9"
